@use '/src/styles/abstract/mixins' as mix;
@use '/src/styles/abstract/variaveis' as var;

.button {
  @include mix.label-small();
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  height: 50px;
  background-color: var.$bg-tertiary;
  position: relative;
  text-align: center;
  border-radius: 20px;
  transition: background 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  left: calc(50% - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
  z-index: 1;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}
