$content-primary: #ffffff;
$content-secondary: #c7c9cc;
$content-tertiary: #d9d9d9;
$content-brand: #c58de7;
$color-inverse: #030203;

$bg-primary: #020202;
$bg-secondary: #111012;
$bg-tertiary: #24222e;
$bg-brand: #c58de7;
$bg-gray: #3d3d3d;

$accent-pink: #d586e0;
$accent-blue: #91a1fa;
$accent-green: #77c0a0;
$accent-lime: #d1dc97;
$accent-red: #e9a9b3;

$gradient-border: linear-gradient(
  #77c0af 0%,
  #d1dc97 14.84%,
  #e9a9b3 32.15%,
  #d586e0 65.79%,
  #91a1fa 84.58%
);

$gradient-bg: linear-gradient (#d586e0 0%, #91a1fa 98.93%);

$gradient-content: linear-gradient(#c7c9cc 0%, #3d3d3d 100%);
