@use "/src/styles/abstract/mixins" as mix;
@use "/src/styles/abstract/variaveis" as var;

header {
  display: flex;
  align-items: center;
  gap: 11px;
  margin: 80px 0 80px 122px; //MARGIN DO TITUL
  img {
    width: 34px;
    height: 34px;
  }
  h1 {
    @include mix.display-large();
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var.$content-primary;
  }
}
