@use '/src/styles/abstract/mixins' as mix;
@use '/src/styles/abstract/variaveis' as var;

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 11px;
  margin: 5em;
  padding-left: 120px;
  img {
    width: 34px;
    height: 34px;
  }
  h1 {
    @include mix.display-large();
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var.$content-primary;
  }
}
